<div class="container mt-4">
  <div *ngIf="!showSummary; else summary">
    <form [formGroup]="form" (ngSubmit)="onSave()" class="card">
      <div class="card-body">
        <div class="mb-3">
          <label for="nombre" class="form-label">
            Nombre
          </label>
          <input formControlName="nombre" id="nombre" type="text" class="form-control" aria-describedby="nombre" />
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">
            Apellido
          </label>
          <input formControlName="apellido" id="apellido" type="text" class="form-control"
            aria-describedby="apellido" />
        </div>
        <div class="mb-3">
          <label for="edad" class="form-label">
            Edad
          </label>
          <input formControlName="edad" id="edad" type="number" class="form-control" aria-describedby="edad" />
        </div>
        <div class="mb-3">
          <label for="ubicacion" class="form-label">
            Ubicación
          </label>
          <textarea formControlName="ubicacion" id="ubicacion" type="text" class="form-control"
            aria-describedby="ubicacion"></textarea>
        </div>
        <button class="btn btn-primary" (click)="onSave()" type="submit">Guardar</button>
      </div>
    </form>
  </div>
  <ng-template #summary>
    <div class="card">
      <div class="card-body">
        <u (click)="goBack()">← Regresar</u>
        <ul class="mt-4">
          <li>Nombre: {{summaryData.nombre}}</li>
          <li>Apellido: {{summaryData.apellido}}</li>
          <li>Edad: {{summaryData.edad}}</li>
          <li>Ubicacion: {{summaryData.ubicacion}}</li>
        </ul>
      </div>
    </div>
  </ng-template>
</div>